.col.s12
  %table.striped.highlight.centered.responsive-table
    %thead
      %tr
        %th Name
        %th Item Name
        %th Item Price
    %tbody
      %tr
        %td Alvin
        %td Eclair
        %td $0.87
      %tr
        %td Alan
        %td Jellybean
        %td $3.76
      %tr
        %td Jonathan
        %td Lollipop
        %td $7.00
